/* ===========================================================================
 * HELPERS
 * ==========================================================================*/

%backfix {
	transform: translateZ(0);
	backface-visibility: hidden;
	overflow: hidden;
}

%flex-absolute {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

@mixin mx-btn($color, $size, $radius, $border) {
	display: inline-block;
	margin: 0px;
	padding: .5em 1.2em;
	font-size: $size;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	color: lighten($color, 95%);
	background-color: $color;
	transition: $transition;
	border-radius: $radius;
	border: $border solid $color;
	outline: 0;
	&:hover {
		background-color: lighten($color, 10%);
		border-color: lighten($color, 10%);
		color: lighten($color, 95%);
		cursor: pointer;
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn-mn {
	@include mx-btn($theme, 1em, 4px, 2px);
}

.btn-gt {
	@include mx-btn($theme, 1em, 4px, 2px);
	background: transparent;
	color: $theme; //same as mixin variable
}

.browserupgrade {
	position: fixed;
	top: 0;
	margin: 0;
	padding: 2em 0;
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	background: #ccc;
	color: #000;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
