/* ===========================================================================
 * VARIABLES
 * ==========================================================================*/

$theme: #2196F3;
$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$head-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$transition: all .3s ease-in-out;