/* ===========================================================================
 * VARIABLES
 * ==========================================================================*/

$theme-color: #2196F3;
$body-font: 'Ubuntu', sans-serif;
$head-font: 'Ubuntu Condensed', sans-serif;
$theme-gradient: linear-gradient(to bottom left, #1A2980 , #26D0CE);
$main-transition: all .3s ease-in-out;